*,
body,
:root {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100vw;
  height: 8vh;
  background-color: black;
  color: white;

  h1 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
  }

  nav {
    display: flex;
    width: 80vw;
    margin-left: auto;

    li {
      text-align: center;
      list-style: none;
      width: 100px;
      height: 25px;
      background-color: blue;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 10px;
      border-radius: 10px;
    }

    li:nth-of-type(3) {
      margin-left: auto;
      width: 5vw;
      height: 5vh;
      border-radius: 50%;
    }
  }
}



main {
  padding-top: 20vh;
  display: flex;
  flex-direction: row;
}
